version: '3'

services:
  postgres-server:
    restart: always
    image: postgres
    volumes:
      - ./migrations:/var/lib/postgresql/data
    ports:
      - "5431:5432"
    environment:
      - POSTGRESS_PASSWORD=admin
      - POSTGRES_HOST_AUTH_METHOD=trust
  go-app:
    build: .
    depends_on:
      - postgres-server
    ports:
      - "5000:5000"
    environment:
      - POSTGRESS_PASSWORD=admin
      - POSTGRESS_HOST=postgres-server
      - POSTGRESS_PORT=5432
      - POSTGRESS_USER=postgres
      - POSTGRESS_DATABASE=project_db
  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.admin
      PGADMIN_DEFAULT_PASSWORD: postgres
    depends_on:
      - postgres-server
    ports:
      - "5050:80"
    restart: always
volumes:
  migrations: