version: '3'

services:
  postgres-server:
    restart: always
    image: postgres
    ports:
      - "5431:5432"
    environment:
      - POSTGRES_PASSWORD=admin
      - POSTGRES_HOST_AUTH_METHOD=trust
      - POSTGRES_DB=pb_project
      - POSTGRES_USER=postgres
  go-app:
    build: .
    depends_on:
      - postgres-server
    expose:
      - 5000
    ports:
      - 5000:5000
    environment:
      - POSTGRES_PASSWORD=admin
      - POSTGRES_HOST=postgres-server
      - POSTGRES_PORT=5432
      - POSTGRES_USER=postgres
      - POSTGRES_DB=pb_project
    volumes:
      - ./db:/docker-entrypoint-initdb.d/
  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.admin
      PGADMIN_DEFAULT_PASSWORD: postgres
    depends_on:
      - postgres-server
    ports:
      - "5050:80"
    restart: always
  nginx:
    build: ./nginx
    depends_on:
      - "go-app"
    ports:
      - "8080:8080"
volumes:
  db: